/* Para todo el contenido despues del nav */
#contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conjunto img + h1 header */
.conjuntoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Copiado con exito */
#copiado {
  color: green;
  font-weight: bold;
}

/* Estilos nav */
nav {
  margin: 0 auto;
  text-align: center;
}

nav a:hover {
  background-color: #418c57;
  color: #f2e9e4;
  font-weight: bold;
}
/* Boton salir */
.salir {
  background-color: #d0270a;
  border: 1px solid #d0270a;
}

.salir:hover {
  background-color: #e82c0c;
}

/* Formulario */
form {
  text-align: center;
  display: inline-block;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

/* Columnas/Celdas */
td,
th {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
}
/* Para cuando se borre algo. */
span,
#errPerms {
  color: red;
}

/* Estilo para las filas impares  */
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
  background-color: #fff;
}

/* Estilo para las celdas de encabezado */
th {
  background-color: #ddd;
  font-weight: bold;
  text-align: center;
}
/* Form */
form fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
}
/* Botones fuera del form (guardar/añadir/CSV) */
.boton {
  background-color: #3c763d;
  border: 1px solid #3c763d;
  text-align: center;
  color: #fff;
  border-radius: 1em;
  margin-bottom: 0.5em;
}

.boton:hover {
  background-color: #418c57;
  color: #f2e9e4;
}
/* Boton eliminar Votante/Mesa/Afiliado/Interventor */

.eliminar {
  background-color: #e82c0c;
  border-color: #e82c0c;
  border-radius: 0.4em;
}
/* Footer y texto footer */
#piePagina {
  text-align: center;
  border-top: 1px solid #808080;
  padding-top: 1em;
}
/* Estadisticas */
.enBloque {
  display: block;
}

#grafico {
  margin-top: 5em;
}

#ajuste {
  display: flex;
}

/* Botones interventor votos */
#votoSi {
  background-color: #00ff00;
  border-color: #00ff00;
}

#votoNo {
  background-color: #ff0d0d;
  border-color: #ff0d0d;
}
/* Boton admin reset */
#resetVotos {
  background-color: #595959;
  border-color: #595959;
}

#resetVotos:hover {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}
/* Login */
.inputLogin {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#okLogin {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Filtro boton */
#okFiltro {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5em;
}

#okLogin:hover {
  background-color: #555;
}

/* SweetAlert botones */

#SA_cancelar {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

#SA_borrar {
  padding: 10px 20px;
  background-color: #e74c3c;
  border: 1px solid #d84f3f;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#SA_cancelar:hover {
  background-color: #ddd;
}

#SA_borrar:hover {
  background-color: #c0392b;
}
/* Input filtro */
#search {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  border-color: #333;
}
/* Elimino la X del Filtro */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Estadisticas */
.total {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.numeroMesaV,
.numeroVotantesV,
.hanvotadoV,
.nohanvotadoV,
.numeroVotantesA,
.hanvotadoA,
.nohanvotadoA {
  color: #030303;
}
