@media screen and (max-width: 480px) {
  html {
    box-sizing: content-box;
  }
  /* Imagen del header */
  header img {
    width: 90px;
    height: 40px;
  }
  /* Para el h1 del header */
  h1 {
    color: #598c41;
    font-weight: normal;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    text-align: center;
  }

  /* Valores tabla */

  .idMesa,
  .numeroMesa {
    width: 50px;
  }

  .nombreMesa {
    width: 150px;
  }

  /* De forma que el footer siempre se quede abajo del todo. */
  footer {
    position: absolute;
    bottom: 0;
    width: 95%;
  }

  /* Nav */
  nav a {
    text-decoration: none;
    color: inherit;
    font-size: 0.75em;
    display: inline-block;
    width: 120px;
    padding: 5px 10px;
    background-color: #3c763d;
    border: 1px solid #3c763d;
    text-align: center;
    color: #fff;
    border-radius: 1em;
  }
  /* Estilo para el título de la tabla */
  caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  /* Scroll */
  /* Afiliados/Votantes */
  .scrollable {
    overflow: auto;
    width: 45vh;
    height: 42vh;
    white-space: nowrap;
    margin-bottom: 1em;
  }
  /* Scroll Interventor */
  .scrollableInterventores {
    overflow: auto;
    width: 45vh;
    height: 50vh;
    white-space: nowrap;
    margin-bottom: 1em;
  }
  /* Scroll Mesas */
  .scrollableMesas {
    overflow: auto;
    width: 45vh;
    height: 55vh;
    white-space: nowrap;
    margin-bottom: 1em;
  }

  /* Login */
  #loginForm {
    width: 250px;
  }

  #estadisticasVotantes,
  #estadisticasAfiliados {
    display: none;
  }
}
